.navbar {
  height: 50px;
  width: 100%;
  background-color: red;
  padding: 0 2rem;
}

.brand {
  width: 100px;
  height: 30px;
  background-color: green;
}

.list{
  display: flex;
  flex-direction: column;
  background-color: aqua;
}

.listitem{
  display: flex;
  background-color: blueviolet;
}